.card-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: .7em;
    height: 50px;
}

.card-body {
    margin-top: 50px;
}

.card {
    border-bottom: none;
}

.word {
    margin-top: 50px;
    font-size: 2em;
    color: blue;
}

.spacing {
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}